.gallery-img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    transition: transform 0.4s ease, filter 0.4s ease;
    padding: 5px;
    border-radius: 8px;
}

.card:hover .gallery-img {
    transform: scale(1.05);
    filter: brightness(1.1);
}



.footer-link {
    color: #808080;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #0d6efd !important;
    text-decoration: none;
}

.social-icon {
    color: #bbb;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #0d6efd !important;
    transform: scale(1.2);
}

footer h5,
footer h6 {
    color: #ffffff;
}

footer p,
footer li,
footer small {
    color: #bbb;
}

footer .ratio iframe {
    border-radius: 8px;
}






/* @media (max-width: 991px) {
  .nav-mobile-btn {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px auto;
    padding: 10px;
    width: 90%;
    display: block;
    color: #000 !important;
    background-color: #fff;
    transition: 0.3s ease;
  }

  .nav-mobile-btn:hover {
    background-color: #007bff;
    color: #fff !important;
    border-color: #007bff;
  }
} */
